<div fxLayout="column" fxLayoutAlign="start" class="main_layout">
  <div class="header_content" fxLayout="column" fxLayoutAlign="start">
    <mat-toolbar>
      <button mat-stroked-button color="primary" [routerLink]="['/login']">
        Back
      </button>
    </mat-toolbar>
  </div>
  <div class="body_content">
    <div class="setup_head" fxLayout="column" fxLayoutAlign="center">
      <div class="header_image"></div>
      <h1><mat-icon [inline]="true">settings</mat-icon> Setup Instructions</h1>
    </div>
    <div class="setup_content">
      <h3>If you're on Windows:</h3>
      <hr />
      <br />
      <h4>
        We have created a portable environment for you with Visual Studio Code
        Integration, download one below:
      </h4>
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
        <a
          href="https://drive.google.com/open?id=1uq2SqXsgrk7B29lDG7Neg-c2YDoFWt4r"
          mat-flat-button
          color="primary"
        >
          <mat-icon>cloud_download</mat-icon>
          Portable Bash with Vscode</a
        >
        <a
          href="https://drive.google.com/open?id=1zxriOdmdOvtwmbnBoL4eFAmu0bQB7HP-"
          mat-flat-button
          color="primary"
        >
          <mat-icon>cloud_download</mat-icon>
          Portable Bash without Vscode</a
        >
      </div>

      <br /><br />
      <h3>If you're on Mac Os:</h3>
      <hr />
      <h4>1. Install Brew:</h4>
      <div class="code_box">
        $ /usr/bin/ruby -e "$(curl -fsSL
        https://raw.githubusercontent.com/Homebrew/install/master/install)"
      </div>
      <br />
      <h4>2. Install Node JS:</h4>
      <div class="code_box">
        $ brew install node
      </div>
      <br />
      <h4>3. Install Angular CLI:</h4>
      <div class="code_box">
        $ npm install -g @angular/cli
      </div>
      <br /><br />
      <h3>If you're on Debian-based Linux Distro (Ubuntu, Kubuntu, etc..):</h3>
      <hr />
      <h4>1. Add Node JS on PPA:</h4>
      <div class="code_box">
        $ sudo apt-get install curl python-software-properties<br />
        $ curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
      </div>
      <br />
      <h4>2. Install Node JS:</h4>
      <div class="code_box">
        $ sudo apt-get update && sudo apt-get install nodejs
      </div>
      <br />
      <h4>3. Install Angular CLI:</h4>
      <div class="code_box">
        $ npm install -g @angular/cli
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
