.main_layout {
  height: 100vh;
}

.setup_content{
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.code_box {
  background: #000000;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  color: #fff;
  overflow: auto;
  white-space: nowrap;
}

a {
  margin-right: 5px;
}

.header_content{
  text-align: center;
}

.header_image{
  background: url("../../../assets/bg.svg") no-repeat top;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 200px;
  z-index: -1;
  opacity: 0.2;
}

mat-toolbar{
  background: none;
  box-shadow: var(--box-shadow);
}

.setup_head{
  text-align: center;
  position: relative;
  height: 200px;
  mat-icon{
    font-size: 50px;
  }
  h1{
    font-size: 50px;
    color: var(--color-primary);
  }
}

.body_content{
  overflow-y: auto;
  box-shadow: inset var(--color-primary);
}
