<div class="nav_content">
  <div class="content_body">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <mat-icon>av_timer</mat-icon> Coming Soon...
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
