.container{
  padding: 20px;
  .date_container{
    margin: 0 auto;
    font-weight: 400;
  }
}

.search_box{
  mat-form-field{
    width: 20vw;
    min-width: 80px;
    height: 36px !important;
  }
  margin-bottom: 50px;
}

.floating_menu{
  position: fixed;
  bottom: 20px;
  right: 20px;

  button{
    box-shadow: none;
    transition: 0.2s all;
  }
}

.floating_menu{
  button:hover{
    transform: rotate(45deg);
  }
}
