<div class="body">
  <br />
  <br />
  <div fxLayout="row" class="sections" fxFlexAlign="start">
    <div fxHide.sm fxHide.xs class="section_icon">
      <mat-icon [inline]="true">event</mat-icon>
    </div>
    <div>
      <span class="title">Create an Event</span><br />
      <span class="subtitle">
        Fill up the form below to start creating the event.
      </span>
      <br />
      <br /><br />
      <form
        [formGroup]="eventForm"
        fxLayout="column"
        fxFlexAlign="start stretch"
      >
        <mat-form-field appearance="outline">
          <mat-label>Event Name</mat-label>
          <input matInput value="" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Event Description</mat-label>
          <textarea
            matInput
            value=""
            formControlName="description"
            rows="20"
            data-simplebar
          ></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-checkbox>Has Certificate?</mat-checkbox>
          <mat-checkbox>Has Venue?</mat-checkbox>
        </div>
        <div class="sub_section">
          <h2><mat-icon>attach_file</mat-icon> Certificate</h2>
          <div
            fxLayout="row"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutGap.sm="5px"
            fxLayoutGap.xs="5px"
            fxLayoutGap="10px"
          >
            <mat-form-field appearance="outline">
              <mat-label>Template File Type</mat-label>
              <mat-select>
                <mat-option [value]="'yes'"> PDF </mat-option>
                <mat-option [value]="'yes'"> HTML </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Template URL (i.e Cloudinary)</mat-label>
              <input matInput value="" />
            </mat-form-field>
          </div>
        </div>
        <div class="sub_section">
          <h2><mat-icon>map</mat-icon> Venue</h2>
          <div
            fxLayout="column"
            fxLayoutGap.sm="5px"
            fxLayoutGap.xs="5px"
            fxLayoutGap="10px"
          >
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Search Event Location</mat-label>
              <input matInput value="" />
            </mat-form-field>
          </div>
        </div>
        <div
          class="sub_section"
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="end end"
        >
          <button mat-flat-button (click)="createEvent()" color="primary">
            Save
          </button>
          <button mat-stroked-button>Reset</button>
        </div>
        <br />
        <br />
        <br />
        <br />
      </form>
    </div>
  </div>
</div>
