.sections{
  div:nth-child(1){
    width: 80px;
    text-align: center;
    overflow: hidden;
    mat-icon{
      font-size: 60px;
      margin-top: 10px !important;
      color: rgb(241, 83, 136);
    }
  }
  div:nth-child(2){
    padding: 10px 10px 0px 10px;
    width: 100%;
    .title{
      font-size: 30px;
      font-weight: 900;
    }
    .subtitle{
      color: var(--color-primary);
    }
  }
}

.bar{
  height: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: var(--color-tint) !important;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sub_section{
  padding-top: 20px;
}

.body{
  max-width: 912px;
  margin: 0 auto;
}

.section_icon{
  width: 150px !important;
  text-align: right;
}
