<mat-progress-bar
  mode="indeterminate"
  class="progress_bar"
  *ngIf="isLoading"
></mat-progress-bar>
<div fxLayout="row" class="main_body">
  <div fxHide.sm fxHide.xs class="nav_body">
    <div fxLayout="column" fxLayoutAlign="start end">
      <div class="logo" fxHide.md>
        <img src="../../../assets/logo.svg" />
      </div>
      <div class="logo_small" fxHide.lg>
        <img src="../../../assets/logo_box.svg" />
      </div>
      <br /><br />
      <div fxLayout="column">
        <button
          mat-button
          [routerLink]="['/latest']"
          routerLinkActive="active_page"
        >
          <table>
            <tr>
              <td><mat-icon>timeline</mat-icon></td>
              <td>Feed</td>
            </tr>
          </table>
        </button>
        <button
          mat-button
          [routerLink]="['/profile']"
          routerLinkActive="active_page"
        >
          <table>
            <tr>
              <td>
                <mat-icon *ngIf="isLoading">account_circle</mat-icon>
                <img
                  src="{{ userDetails['picture'] }}"
                  class="profile_icon"
                  *ngIf="!isLoading"
                />
              </td>
              <td>Profile</td>
            </tr>
          </table>
        </button>
        <button
          mat-button
          [routerLink]="['/events']"
          routerLinkActive="active_page"
        >
          <table>
            <tr>
              <td><mat-icon>calendar_today</mat-icon></td>
              <td>Events</td>
            </tr>
          </table>
        </button>
        <div class="bar"></div>
        <button
          mat-button
          [routerLink]="['/admin']"
          routerLinkActive="active_page"
          *ngIf="isAdmin"
        >
          <table>
            <tr>
              <td><mat-icon>vpn_key</mat-icon></td>
              <td>Admin</td>
            </tr>
          </table>
        </button>
        <button mat-button (click)="logout()">
          <table>
            <tr>
              <td><mat-icon>exit_to_app</mat-icon></td>
              <td>Logout</td>
            </tr>
          </table>
        </button>
      </div>
    </div>
    <!-- <peers-list></peers-list> -->
  </div>
  <div fxHide.lg fxHide.md class="nav_body_small">
    <div fxLayout="column" fxLayoutAlign="start end">
      <div class="logo">
        <img src="../../../assets/logo_box.svg" />
      </div>
      <br />
      <button
        mat-button
        [routerLink]="['/latest']"
        routerLinkActive="active_page"
      >
        <mat-icon>timeline</mat-icon>
      </button>
      <button
        mat-button
        [routerLink]="['/profile']"
        routerLinkActive="active_page"
      >
        <mat-icon *ngIf="isLoading">account_circle</mat-icon>
        <img
          src="{{ userDetails['picture'] }}"
          class="profile_icon"
          *ngIf="!isLoading"
        />
      </button>
      <button
        mat-button
        [routerLink]="['/events']"
        routerLinkActive="active_page"
      >
        <mat-icon>calendar_today</mat-icon>
      </button>
      <div class="bar"></div>
      <button
        mat-button
        [routerLink]="['/admin']"
        routerLinkActive="active_page"
        *ngIf="isAdmin"
      >
        <mat-icon>vpn_key</mat-icon>
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <!-- <peers-list></peers-list> -->
  </div>
  <div class="nav_content" fxFlex="100%">
    <router-outlet></router-outlet>
  </div>
</div>
