.nav_body {
  padding: 50px 20px 0px 20px;
  overflow-y: auto;
  background: var(--color-tint);
  width: 20vw;
  text-align: right;
  border-right: 1px solid #f6f8fa;

  button {
    td:nth-child(1){
      min-width: 35px;
      padding-right: 10px;
      position: relative;
    }
    mat-icon {
      font-size: 25px;
      font-weight: 900;
    }
    font-size: 20px;
    font-weight: 800;
    padding: 10px 20px !important;
    margin-bottom: 5px;
    border-radius: 30px;
  }

  .profile_icon {
    border-radius: 50px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: 0px;
    border: solid 2px #fff;
  }

  .logo {
    width: 100%;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .logo_small {
    width: 100%;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .bar{
    width: 20px;
    height: 2px;
    background: var(--color-primary);
    margin: 10px 30px !important;
  }

}

.nav_body_small {
  overflow: hidden;
  background: var(--color-tint);
  text-align: right;
  border-right: 1px solid #f6f8fa;
  width: 70px;

  button {
    mat-icon {
      font-size: 25px;
      font-weight: 900;
    }
    font-size: 20px;
    padding: 10px 20px !important;
    margin-bottom: 5px;
  }

  .profile_icon {
    border-radius: 50px;
    height: 30px;
    border: solid 2px #fff;
    margin-right: -5px;
  }

  .logo {
    margin: 0 auto;
    margin-top: 10px;
    width: 45px;
    height: 70px;
    img {
      margin: 0 auto;
    }
  }

  .bar{
    width: 20px;
    height: 2px;
    background: var(--color-primary);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}


.main_body {
  height: 100vh;
}

// .nav_content {
//   background: var(--color-tint);
// }

button:hover {
  background: var(--color-highlight);
  color: var(--color-primary);
}

.active_page {
  color: var(--color-primary);
  img{
    border: solid 2px var(--color-primary) !important;
  }
}

.progress_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
