<mat-progress-bar
  mode="indeterminate"
  class="progress_bar"
  *ngIf="isLoading"
></mat-progress-bar>
<div class="main_layout" fxLayout="row">
  <div
    fxHide.lg
    fxHide.md
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxFlex="100%"
    class="left_section"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center stretch"
      fxFlex="100%"
      class="middle_content_small"
      fxLayoutGap="10px"
    >
      <img src="../../../assets/logo.svg" />
      <br />
      <br />
      <br />
      <button mat-flat-button (click)="login()" color="primary">
        Sign In
      </button>
      <button
        mat-stroked-button
        [routerLink]="['/setup']"
        color="primary"
        fxHide.lg
      >
        Get Started
      </button>
    </div>
    <div class="footer" fxFlexOffset="auto">
      <a
        width="150"
        height="50"
        href="https://auth0.com/?utm_source=oss&amp;utm_medium=gp&amp;utm_campaign=oss"
        target="_blank"
        alt="Single Sign On &amp; Token Based Authentication - Auth0"
        ><img
          width="150"
          height="50"
          alt="JWT Auth for open source projects"
          src="//cdn.auth0.com/oss/badges/a0-badge-light.png"
      /></a>
    </div>
  </div>
  <div
    fxHide.sm
    fxHide.xs
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxFlex="100%"
    class="left_section"
  >
    <mat-toolbar>
      <img src="../../../assets/logo.svg" />
      <span></span>
      <button mat-flat-button (click)="login()" color="primary">
        Sign In
      </button>
      <button
        mat-stroked-button
        [routerLink]="['/setup']"
        color="primary"
        fxHide.lg
      >
        Get Started
      </button>
    </mat-toolbar>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="100%"
      class="middle_content"
    >
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fangularcebu&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=487786988714525"
        width="500"
        height="500"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
      ></iframe>
      <br />
      <br />
      <iframe
        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fangularcebu&width=500&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=487786988714525"
        width="500"
        height="80"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
    <div class="footer" fxFlexOffset="auto">
      <a
        width="150"
        height="50"
        href="https://auth0.com/?utm_source=oss&amp;utm_medium=gp&amp;utm_campaign=oss"
        target="_blank"
        alt="Single Sign On &amp; Token Based Authentication - Auth0"
        ><img
          width="150"
          height="50"
          alt="JWT Auth for open source projects"
          src="//cdn.auth0.com/oss/badges/a0-badge-light.png"
      /></a>
    </div>
  </div>
  <div
    fxLayout="column"
    fxFlex="60vw"
    fxHide.sm
    fxHide.xs
    fxHide.md
    class="right_layout"
    data-simplebar
  >
    <app-setup></app-setup>
  </div>
</div>
