.main_layout {
  height: 100vh;
  width: 100vw;
  background: #fff;
  box-shadow: var(--box-shadow);
}

mat-toolbar {
  span {
    flex: 1 1;
  }
  img {
    width: 200px;
    max-width: 300px;
  }
  height: 100px !important;
  background: #fff;
  border-bottom: 1px solid #f6f8fa;

  button {
    margin-left: 10px;
  }
}

.progress_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.small_logo{
  width: 50px;
  height: 50px;
}


.left_section{
  background: var(--color-tint);
  .middle_content{
    margin: 0 auto;
    text-align: center;
    iframe {
      border: none;
      overflow: hidden;
    }
  }

  .middle_content_small{
    padding: 20px;
    button{
      padding: 8px !important;
    }
  }

  .footer {
    height: 50px;
    background: var(--color-tint);
    padding: 20px;
    border-top: 1px solid #f6f8fa;
  }

  mat-toolbar{
    background: var(--color-tint);
  }
}
