<div fxLayout="column">
  <mat-toolbar>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="pageSelect('events')">Events</button>
      <button mat-menu-item (click)="pageSelect('participants')">
        Participants
      </button>
    </mat-menu>

    <button mat-stroked-button [matMenuTriggerFor]="appMenu">
      {{ title !== 'NAVIGATE' ? title : 'NAVIGATE'
      }}<mat-icon color="primary">expand_more</mat-icon>
    </button>
  </mat-toolbar>
  <div class="nav_content" data-simplebar>
    <router-outlet></router-outlet>
  </div>
</div>
