
.nav_content {
  overflow-y: auto;
  height: 94vh;
}

mat-toolbar {
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 1;
  height: 6vh;
  span{
    font-weight: 500;
    color: var(--color-primary);
  }
}

.flexer{
  flex: 1 1;
}
