<!-- <nz-layout>
  <nz-content>
    <h1 nz-title>Events Certificates</h1>
    <nz-input-group nzSearch nzSize="large">
      <input type="text" nz-input placeholder="Search via Email" [(ngModel)]="email" />
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">Search</button>
    </nz-input-group>
  </nz-content>
</nz-layout> -->
