nz-content {
	padding: 100px 50px 50px 50px;
	min-height: 95vh;
}

nz-breadcrumb {
	margin: 16px 0;
}

.inner-content {
	background: #fff;
	padding: 24px;
	min-height: 380px;
}

nz-footer {
	text-align: center;
	min-height: 5vh;
}

nz-input-group {
	margin: auto;
	margin-left: 300px;
	width: 600px;
}

h1 {
	text-align: left;
	left: 0;
	margin-left: 300px;
	margin-top: 25px;
}
