.leftnav_body {
  padding: 50px 20px 0px 20px;
  overflow-y: auto;
  width: 35vw;
  text-align: right;
  background: #fff;
  height: 100vh;
  border-left: 1px solid #f6f8fa;
  img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
  }
  .user_details {
    text-align: center;
  }
}

.nav_content {
  overflow-y: auto;
  height: 100vh;
  .content_body {
    padding: 30px 30px 30px 30px;
    mat-card {
      margin-bottom: 20px;
    }
  }
}

mat-toolbar {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #f6f8fa;
  margin-bottom: 20px;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  button:hover {
    background: var(--color-accent);
    color: var(--color-primary);
  }
}
