<div fxLayout="row" fxLayout.sm="column">
  <div class="nav_content" fxFlex="100%" data-simplebar>
    <mat-tab-group>
      <mat-tab label="My Flow">
        <ng-template matTabContent>
          <div class="content_body">
            <mat-card>
              <mat-card-content>
                <mat-card-title>
                  <mat-icon>av_timer</mat-icon> Coming Soon...
                </mat-card-title>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="My Events">
        <ng-template matTabContent>
          <div class="content_body">
            <app-user-events></app-user-events>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="leftnav_body" fxLayout="column" fxHide.sm fxHide.xs fxHide.md>
    <img
      src="{{
        userDetails['picture'] ||
          'https://res.cloudinary.com/dvtoaizxx/image/upload/v1564979188/icons/default_profile_jp1igf.jpg'
      }}"
    />
    <br />
    <div class="user_details">
      <h2>
        {{ userDetails['name'] }}
      </h2>
      {{
        (userDetails['https://get.geojs.io/v1/ip'] != undefined &&
          userDetails['https://get.geojs.io/v1/ip']['country_name']) ||
          'Unknown'
      }}
      -
      {{
        (userDetails['https://get.geojs.io/v1/ip'] != undefined &&
          userDetails['https://get.geojs.io/v1/ip']['time_zone']) ||
          'Unknown'
      }}
    </div>
  </div>
</div>
