@import "~@angular/material/theming";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,800&display=swap');
@import '~simplebar/dist/simplebar.css';

$custom-typography: mat-typography-config(
  $font-family:   'Work Sans, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 800),
  $title:         mat-typography-level(20px, 32px, 800),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  $input:         mat-typography-level(16px, 1.125, 400)
  );
@include mat-core($custom-typography);

$angular-cebu: (
  50: #f5f5f5,
  100: #f6b5c9,
  200: #f084a5,
  300: #ea5281,
  400: #e62d66,
  500: #e1084b,
  600: #dd0744,
  700: #d9063b,
  800: #d50433,
  900: #cd0223,
  A100: #fff5f6,
  A200: #ffc2c9,
  A400: #ff8f9b,
  A700: #ff7585,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-primary: mat-palette($angular-cebu, 400);
$app-accent: mat-palette($angular-cebu, 800, A100, A400);
$app-warn: mat-palette($mat-red);
$app-tint: mat-palette($angular-cebu, 50);
$app-highlight: mat-palette($angular-cebu, A100);
:root {
  --color-primary: #{mat-color($app-primary)};
  --color-accent: #{mat-color($app-accent)};
  --color-tint: #{mat-color($app-tint)};
  --color-highlight: #{mat-color($app-highlight)};
  --color-white: #fff;
  --box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.08);
  --color-dark: #1E1E1E;
}

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  // background: var(--color-tint)
}

mat-card{
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.08) !important;
  -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.08) !important;
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.08) !important;
}

mat-icon{
  vertical-align: middle !important;
  margin-top: -5px !important;
}
